@font-face {
    font-family: 'Bebas Neue';
    src: url("./resources/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url("./resources/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format('truetype'),
        url("./resources/fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf") format('truetype'),
        url("./resources/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    src: url("./resources/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf") format('truetype'),
        url("./resources/fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Gabarito';
    src: url("./resources/fonts/Gabarito/static/Gabarito-Regular.ttf") format('truetype'),
        url("./resources/fonts/Gabarito/static/Gabarito-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Podkova';
    src: url("./resources/fonts/Podkova/static/Podkova-Regular.ttf") format('truetype'),
        url("./resources/fonts/Podkova/static/Podkova-Bold.ttf") format('truetype');
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Podkova', serif;
}

p, footer, nav, label {
    font-family: 'Gabarito', sans-serif;
}

main {
    position: relative;
    top: 80px;
}

#submit-btn,
#mixed-more,
#git-more {
    margin-bottom: 5rem;
}

/* header */

nav {
    background-image: url('./resources/header-footer-bg.jpeg');
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    color: rgb(231, 235, 236);
    margin: 0 3rem;
    list-style: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    border: 1.5px solid #848586;
    width: 120px;
    text-align: center;
    height: 40px;
}

nav li:hover {
    text-decoration: underline;
    cursor: pointer;
    border: 1px solid rgb(231, 235, 236);
}

nav li:active {
    background-color: #baa898;
    color: #280003;
    text-decoration: none;
}

nav li:visited {
    color: rgb(231, 235, 236); 
}

/* Hero */

#banner,
#proj-banner {
    background-image: url('./resources/banner-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    border-radius: 20px;
}

#banner::before,
#proj-banner::before {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    filter: blur(50px);
}

#headings,
#proj-headings {
    height: 50%;
    z-index: 5;
    position: relative;
    color: rgb(231, 235, 236); 
}

#banner h1,
#proj-banner h1 {
    font-size: 4rem;
}

#banner h2,
#proj-banner h2 {
    font-size: 3rem;
}

/* Skills & Projects */

#skills,
#projects-show {
    color: hsl(210, 32%, 22%);
    letter-spacing: 0.2rem;
    height: auto;
}

#skills h2 {
    text-align: center;
    font-size: 2.5rem;
}

#skills h3,
#projects-show h3 {
    font-size: 1.75rem;
}

#skills .container,
.project-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 2%;
}

#skills .container-item,
.project-item {
    width: 250px;
    height: auto;
    text-align: center;
}

#skills .container-item input,
form #submit-btn,
.project-item input {
    background-color: white;
    border: 1px solid #280003;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gabarito';
    width: auto;
    max-width: 150px;
    height: 30px;
    font-size: 1.025em;
    padding: auto;
}

/* Contact Form */

#contact-details {
    text-align: center;
    margin: 3rem 5% 3.5rem;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 2% 2rem;
}

.contact-item {
    width: 250px;
    height: auto;
    text-align: center;
}

.contact-item a {
    color: #280003;
    border: 1px solid #2800034b; 
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-item a:active {
    background-color: #280003;
    color: rgb(231, 235, 236);
    border: 1px solid rgb(231, 235, 236);
}

.contact-item img {
    max-width: 120px;
    height: auto;
}

.form-fields {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

#contacts-one input,
#contacts-two input {
    margin-bottom: 15px;
    margin-top: 10px;
    width: 200px;
    height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
}

#submit-btn {
    width: 350px !important;
    height: 50px !important;
}

#contact-details h2 {
    font-size: 2.25rem;
}

form h3 {
    font-size: 1.75rem;
    margin: 4rem auto 3rem;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url('./resources/header-footer-bg.jpeg');
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: rgb(231, 235, 236);
    margin: 0 2%;
    font-size: 0.75rem;
}


/* Media Responsiveness */

@media only screen and (max-width: 900px) {
    /* header */
    nav {
        height: 4rem;
    }

    nav li {
        margin: 0 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        width: 6rem;
        text-align: center;
        height: 2.25rem;
        font-size: 0.9rem;
    }

    /* Hero */
    #banner,
    #proj-banner {
        height: 300px;
        z-index: 1;
    }

    #headings,
    #proj-headings {
        height: 100%;
        z-index: 5;
        position: relative;
        color: rgb(231, 235, 236); 
    }

    #banner h1,
    #proj-banner h1 {
        font-size: 3rem;
    }

    #banner h2,
    #proj-banner h2 {
        font-size: 2rem;
    }

    /* Skills & projects */
    #skills h2 {
        font-size: 1.8rem;
    }
    
    #skills h3,
    #projects-show h3 {
        font-size: 1.45rem;
    }

    #skills .container-item,
    .project-item {
        width: 500px;
        height: auto;
        text-align: center;
    }

    /* Contact Form */
    #contact-details {
        text-align: center;
        margin: 1.5rem 3% 2.5rem;
    }
    
    .contact-container {
        margin: 0 1% 1rem;
    }
    
    .contact-item {
        width: 160px;
        height: auto;
        text-align: center;
    }
    
    .contact-item a {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
        text-decoration: none;
    }
    
    .contact-item img {
        max-width: 80px;
        height: auto;
    }
}

@media only screen and (max-width: 720px) {
    /* header */

    nav li {
        margin: 0 0.5rem;
        padding: auto;
        width: auto;
        height: 2rem;
        font-size: 0.6rem;
    }

    #banner h1,
    #proj-banner h1 {
        font-size: 2.5rem;
    }

    #banner h2,
    #proj-banner h2 {
        font-size: 1.75rem;
    }
    
    .form-fields {
        display: block;
        text-align: center;
    }
    
    #contacts-one input,
    #contacts-two input {
        margin-bottom: 10px;
        margin-top: 7px;
        width: 300px;
        height: 2.4rem;
        border-radius: 5px;
        font-size: 1rem;
    }
    
    #contact-details h2 {
        font-size: 2rem;
    }
    
    form h3 {
        font-size: 1.5rem;
        margin: 2rem auto 2rem;
    }
}